body {font-family: "DIN Condensed"; background-color: #3C3D40}
form {border: 3px solid #f1f1f100;}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background: linear-gradient(137.04deg, #7240B9 0%, #3A76CC 100%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 37px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    background-color: #FFFFFF;
    padding: 10px;
    width: 40%;
    margin: 20px auto;
}
.container2 {
    background-color: #FFFFFF;
    padding: 10px;
    width: 20px;
    margin: 20px auto;
}

span.psw {
    float: right;
    padding-top: 10px;
}
@media screen and (max-width: 50px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}